body {
    background-color: #fff;
    color: #333;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 1em;
    margin: 0;
  } /*Body {} Styles for the body element, including background color, text color, font family, padding, and margin.*/

  h1 {
    color: hotpink;
    font-size: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-bottom: 10px dotted purple;
    padding: 2px; 
  } /*Body {} Styles for h1 headers, including text color, font size, font family, bottom border, and padding.*/
  
  ul.contact-details {
    background-color: #eeeeee;
    border: 5px solid purple;
    padding: 10px;
    list-style-type: disc; /* Adds dots (bullets) to the list */
    padding-left: 30px; /* Adds space between the bullets and the content */
  } /*ul.contact-details {} Styles for an unordered list with the class contact-details, including background color,
   border, padding, list style, and left padding.*/
  
  ul li { 
    padding: 5px; /* added spaces in between bullets list */
  
  } /*ul li { } Adds padding to each list item inside an unordered list.*/

  .centered { /* Centered the page, showing vertical view*/
   width: 1000px; 
   margin: 200px;          
  } /*centered { } Defines a class for centering content with specific width and margin*/ 


  h2 {
    font-size: 1.5em;
    font-style: italic;
  } /* h2 {} Styles for h2 headers, including font size and italic style.*/

  .job-title {
    color: #999999;
    font-weight: bold;
  } /* job-title { } Defines a class for job titles with color and bold font weight*/

  a:link,
  a:visited {
    color: #fb6542;
  } /* a:link, a:visited { } Styles for normal and visited links with specific color*/

  a:hover {
    color: green;
  } 